sample codes/topic2.txt
[{"id":"952f1a1d.d75a58","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cd7beb4a.7b7348","type":"rpi-sensehat in","z":"952f1a1d.d75a58","name":"","motion":false,"env":true,"stick":false,"x":90,"y":560,"wires":[["f2962f62.091c1","beca9a5f.69c188","8259644a.ab6478","ab98e163.c2d8a"]]},{"id":"f2962f62.091c1","type":"debug","z":"952f1a1d.d75a58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":400,"wires":[]},{"id":"beca9a5f.69c188","type":"function","z":"952f1a1d.d75a58","name":"Temperature","func":"msg.payload = msg.payload.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":500,"wires":[["3648bc7f.fb1074","d1d52fd9.c3d5c"]]},{"id":"8259644a.ab6478","type":"function","z":"952f1a1d.d75a58","name":"humidity","func":"msg.payload = msg.payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":560,"wires":[["9e4fb44c.53c8f8","33ba016e.ed989e"]]},{"id":"ab98e163.c2d8a","type":"function","z":"952f1a1d.d75a58","name":"pressure","func":"msg.payload = msg.payload.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":620,"wires":[["bb1413d5.7f76","62f5eaed.0e6284"]]},{"id":"3648bc7f.fb1074","type":"ui_gauge","z":"952f1a1d.d75a58","name":"","group":"12a5e7fa.af9ef8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":440,"wires":[]},{"id":"9e4fb44c.53c8f8","type":"ui_gauge","z":"952f1a1d.d75a58","name":"","group":"12a5e7fa.af9ef8","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":560,"wires":[]},{"id":"bb1413d5.7f76","type":"ui_gauge","z":"952f1a1d.d75a58","name":"","group":"12a5e7fa.af9ef8","order":2,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"units","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":640,"wires":[]},{"id":"d1d52fd9.c3d5c","type":"ThingspeakSendSimple","z":"952f1a1d.d75a58","name":"temperature","writekey":"V8PU0OUUZ08ECJMC","fieldid":"","x":490,"y":500,"wires":[]},{"id":"33ba016e.ed989e","type":"ThingspeakSendSimple","z":"952f1a1d.d75a58","name":"humidity","writekey":"V8PU0OUUZ08ECJMC","fieldid":"2","x":480,"y":600,"wires":[]},{"id":"62f5eaed.0e6284","type":"ThingspeakSendSimple","z":"952f1a1d.d75a58","name":"pressure","writekey":"V8PU0OUUZ08ECJMC","fieldid":"3","x":480,"y":680,"wires":[]},{"id":"12a5e7fa.af9ef8","type":"ui_group","z":"","name":"Default","tab":"36ada383.7cf04c","order":1,"disp":true,"width":"6","collapse":false},{"id":"36ada383.7cf04c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]